// 主题色
$primary-color: #FF3A3A;
$white-color: #F7F9FC;
$black-color: #13131A;
$greyColor: #717176;

$lightGreyColor: #E4E8EC;
$drak-grey-color: #27272E;

$dark-card-color: #2D2D38;
$light-card-color:  #FFFFFF;

$dark-card-shadow: #13131A;
$light-card-shadow: #E9EAEC;

$dark-aside-bgcolor: #1A1A21;
$light-aside-bgcolor: #F0F3F6;

$dark-player-bgcolor: #2D2D38;
$light-player-bgcolor: #FAFAFA;