@import '@/assets/scss/_common.scss';

#app{
  @include background_color('background_color');
  @include font_color('text-color');
  // transition: background-color .5s;
  width: 100vw;
  height: 100vh;
  display: flex;
}
.iconfont {
  color: #717176;
}

input {
  border: none;
  &:focus {
    border: none;
    outline: none; /* 或者 outline: 0px */
  }
}


