@font-face {
  font-family: "iconfont"; /* Project id 4451980 */
  src: url('iconfont.woff2?t=1709564109459') format('woff2'),
       url('iconfont.woff?t=1709564109459') format('woff'),
       url('iconfont.ttf?t=1709564109459') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qingkong-:before {
  content: "\e68e";
}

.icon-fenxiang:before {
  content: "\e603";
}

.icon-pinglun:before {
  content: "\e607";
}

.icon-denglu-copy:before {
  content: "\e63a";
}

.icon-tinggeshiqu:before {
  content: "\e64f";
}

.icon-2zuixiaohua-2:before {
  content: "\e65a";
}

.icon-liebiao:before {
  content: "\e640";
}

.icon-guanbi:before {
  content: "\e62a";
}

.icon-zanting:before {
  content: "\e669";
}

.icon-bofang:before {
  content: "\e66e";
}

.icon-aixin:before {
  content: "\e85c";
}

.icon-shangyishou:before {
  content: "\e63c";
}

.icon-xiazai:before {
  content: "\e65c";
}

.icon-aixin1:before {
  content: "\e8ab";
}

.icon-zuidahua:before {
  content: "\e651";
}

.icon-xunhuan:before {
  content: "\e61f";
}

.icon-soound-min:before {
  content: "\ea7e";
}

.icon-search:before {
  content: "\e602";
}

.icon-tesezhuanqu26:before {
  content: "\e61e";
}

.icon-boke:before {
  content: "\e601";
}

.icon-dingdingshequ:before {
  content: "\e788";
}

.icon-cloud-download-full:before {
  content: "\e98b";
}

.icon-woxihuan:before {
  content: "\e65e";
}

.icon-bendiyinle:before {
  content: "\e620";
}

.icon-zuijinbofang:before {
  content: "\e660";
}

.icon-wangyiyun:before {
  content: "\e600";
}

